
h1 {
  font-size: 2.6em;
  color: black;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  height:90%;
  text-align:center;
  font-size:18px;
}

.wrapper{
  width:100%;
  margin:0 auto;
}

#alphabet {
  margin:15px auto;
  padding:0;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:pink;
  cursor:pointer;
  border: solid 1px pink;


#wordbox {
  color: black;
}

span {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

#hangman {
  padding: 0 500px;
}
img {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
}

/*#hangman{
    strokeStyle = "#fff";
    lineWidth = 2;
}

img {}

#keyboard{
  margin: 250px 0 0 400px;
  max-width: 900px;
  display: table;
}
#alphabet {*/
/*    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;*/
/*}
#keyboard li {
  display: inline;
  margin: 0 10px 10px 0px;
  border: solid 1px pink;
  border-radius: 5px;
  padding: 8px;
  cursor:pointer;
}*/
}

#wordbox {
  padding: 80px 250px;
}

/*.placeholder {
  display: inline;
  margin: 0;
  list-style: none;
  border: solid 1px black;
  width: 20%;
  padding: 8px;
}*/

/*ul {
  display: flex;
}

li {
  margin-left: 5px;
}
/**/
.underscore-for-letter {
  clear: both;
  color: black;
  display: inline-block;
  width: 20px;
  height: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid pink;
  margin-left: 10px;
}

.underscore-for-letter:before {
  content: ' ';
}

button{
  color: white;
  border: solid 1px pink;
  text-decoration:none;
  cursor:pointer;
  border-radius: 5px;
  font-size:1em;
  padding:10px 10px;


